* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}


/*this is the header part*/
.headers {
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    background-position: left;

}

.header {
    display: flex;
    gap: 25px;
    align-items: right;
}

.header2 {
    margin-right: 150px;
    padding: 100px;
}

.header1 {
    width: 1000px;

}

.header-title {
    margin-top: 215px;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.header-discription {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
}

.primary_btn {
    width: 160px;
    padding: 25px 20px;
    color: #005FAC;
    background-color:
        #FFFFFF;
    border-radius: 5px;
    border: 0px;
    text-align: center;
    float: right;

}

/*this is main porction person part*/
.person {
    display: flex;
    align-items: center;
    gap: 87px;

    margin-top: 131px;
    margin-left: 206px;
    margin-right: 322px;
    margin-bottom: 129px;
}

.person_info {}

.person-title {
    font-weight: 700;
    font-size: 25px;

    color: #151414;
    margin-bottom: 24px;

}

.person_description1 {
    font-weight: 400;
    font-size: 16px;

    color: #444343;
    margin-bottom: 20px;
    margin-top: 24px;

}

.person_point {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin: 5px;



}


/* skils style part */


.skils_title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #151414;
    margin-bottom: 50px;
}

.types_skils {
    display: flex;
    justify-content: space-around;
}

.title_skil {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #151414;
    margin-top: 24px;
    margin-bottom: 16px;


}

.description_skil {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #737272;
}

.skil_img {
    margin-left: 60px;
    justify-content: center;

}

/* bannerpart css */
.banner {
    margin: 230px 130px;
    background-image:
        linear-gradient(to left, rgba(245, 246, 252, 0.52), rgba(79, 70, 194, 0.73)),
        url("../images/watch.png");

    background-repeat: no-repeat;
    padding-top: 59px;
    padding-left: 64px;
    padding-right: 239px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 24px;


}



.primary_btn2 {
    width: 160px;
    padding: 25px 20px;
    color: #005FAC;
    background-color:
        #FFFFFF;
    border-radius: 5px;
    border: 0px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 59px;

}

/* this is the footer part */
.footer {
    display: flex;
    justify-content: space-around;
    background-color: #151414;
    ;
    margin-top: 130px;
}

.information {
    margin-top: 199px;
    margin-left: 230px;
    margin-right: 331px;
    margin-bottom: 199px;
}

.information_title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;

    color: #F8F8F8;
}

.information_description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 24px;
}

.email,
.phone {

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.icons {
    display: flex;
    gap: 17px;
    margin-top: 32px;
}

.contract {
    margin-top: 199px;
    margin-right: 230px;

}

.form_title {
    color: #F8F8F8;
}

.primary_btn3 {
    width: 160px;
    padding: 25px 20px;
    color: #e7e9eb;
    background-color:
        #1619d1;
    border-radius: 5px;
    border: 0px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 59px;

}